html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(./img/bg_img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lemonada', cursive;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    color: #ffffff;
}

.main-body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-self: center;
    width: 43%;
}

.main-body__search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main-body__search label {
    font-size: 20px;
}

.main-body__search input {
    height: 50px;
    background-color: #ffffff8c;
    border: none;
    border-radius: 14px;
    outline: none;
}

.searchBtn {
    margin-left: 3px;
    height: auto;
    width: 16%;
    border-radius: 14px;
    border: none;
    background-color: #6e2929;
    border: 1px solid #3a1b1b8c;
    cursor: pointer;
    font-size: 39px;
    color: #ffffff8c; 
    transform: scale(-1, 1);
    outline: none;
}
