html {
    background-image: linear-gradient(rgba(160, 146, 146, 0.6), rgba(160, 146, 146, 0.65));
    font-family: 'Dancing Script', cursive;
    height: 100%;
    margin: 0;
}

.main-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: solid 1px #fff;
}
 
.search-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    color: #000;
    margin: 5px 20px;
    border-bottom: solid 1px #000;
    font-size: 19px;
}

.search-item:last-child {
    border:none;
}

.main-footer {
    width: 100%;
    /* position: fixed;
    bottom: 0; */
    padding: 20px 0;
    text-align: center;
    border-top: solid 1px #ffffff;
}

.pagination {
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.pagination a {
    cursor: pointer;
    font-size: 18px;
    padding: 2px;
    color: black;
    text-decoration: none;
    transition: background-color .3s;
}

.hide {
    display:none;
}

.pagination a.active {
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}