h1 {
    text-align: center;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.schedule li {
    margin-top: 10px;
    cursor: pointer;
}

.schedule li:hover {
    font-size: 18px;
    background-color: rgba(109, 201, 109, 0.644);
}