.main-body {
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.main-body button {
    margin-top: 20px;
}

.main-body time {
    margin-left: 10px;
}

h1 {
    text-align: center;
}